# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch model checkpoints and saved models
*.pt
*.pth

# Python specific cache files
*.log
*.sqlite3

# Ignore dataset files (e.g., if you store training data locally)
data/

#ignore wandb
wadb/

# Ignore reformer-wiki
reformer-wiki/
reformer-wiki-100k/

# Ignore model cache
model_cache/

# Word2Vec model files (specific to your project)
wikitext103_word2vec.model.syn1neg.npy
wikitext103_word2vec.model.wv.vectors.npy

# Colab-specific
*/.colab/
